ALM_BACKEND_BIND_ADDRESS=0.0.0.0:8080
ALM_BACKEND_DATABASE_URL=postgres://alm:secret@alm-postgres:5432/alm
ALM_BACKEND_DATABASE_MAX_CONNECTIONS=10
ALM_BACKEND_AUTO_APPLY_MIGRATIONS=true
ALM_BACKEND_TEST_DATABASE_ADMIN_URL=postgres://alm:secret@alm-postgres:5432/postgres
ALM_BACKEND_SECRET_KEY_K1=local-dev-secret-key
